<div class="d-flex page__box mt-2"></div>
<div class="d-flex flex-row navigation">
    <a href="/registru">
    <button class="d-flex flex-row">
        <span>Back</span>
        <img src="../../../../assets/ICON/GoBack.svg" alt="">
    </button>
    </a>
    <a href="/formular">
    <button class="d-flex flex-row">
        <span>Edit</span>
        <img src="../../../../assets/ICON/Edit.svg" alt="">
    </button>
    </a>
</div>
<main>
    <div class="profile d-flex flex-row">
        <div class="img d-flex">
          <img src="../../../../assets/ICON/Man.svg" alt="">
        </div>
        <div class="d-flex flex-column pinfo">
            <div class="general">
                <p>Dorian Sergiu</p>
                <p>Jurnalist</p>
            </div>
            <div class="data d-flex flex-row">
                <div class="text">
                    <p>Data nasterii</p>
                    <p>Telefon</p>
                    <p>Email</p>
                </div>
                <div class="tinfo">
                    <p>05.06.1978</p>
                    <p>+373 67 152 678</p>
                    <p>dorian.sergiu@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row m-5">
        <div class="genInfo">
            <h2>Informatie Generala</h2>
            <div class="container">
                <div class="row Out">
                    <div class="col">
                        <p>Nume/Prenume</p>
                        <p>Seria</p>
                        <p>IDNP</p>
                        <p>Cetatenie</p>
                        <p>Loalitate</p>
                        <p>Adresa</p>
                        <p>Cod Postal</p>
                    </div>
                    <div class="col out">
                        <p>Dorian Sergiu</p>
                        <p>AA26789</p>
                        <p>2278890067125</p>
                        <p>moldovean</p>
                        <p>Chisinau</p>
                        <p>Vasile Alecsandri 18</p>
                        <p>TY 67245</p>
                    </div>
                </div>
                <div class="doc">
                    <p class="atasamente">Atasamente</p>
                    <div class="documents d-flex flex-row">
                        <div class="thumb">
                            <p><span>Buletin</span></p>
                        </div>
                        <div class="thumb">
                            <p><span>Pasaport</span></p>
                        </div>
                        <div class="thumb">
                            <p><span>Permis de conducere</span></p>
                        </div>
                        <div class="thumb">
                            <p><span>Permis de sedere</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proExp">
            <h2>Experienta profesionala</h2>
            <div class="col">
                <p>Profesia Curenta</p>
                <p>Durata de acativitate</p>
                <p>Salariu</p>
                <p>Nume companie</p>
            </div>
            <div class="col">
                <p>Profesia anterioara</p>
                <p>Salariu</p>
                <p>Nume companie</p>
            </div>
        </div>
    </div>
</main>