<mat-toolbar>
  <mat-toolbar-row class="d-flex flex-column justify-content-between">
    <!-- <button mat-icon-button (click)="toggleSidebar()" class="menu">
      <mat-icon >menu</mat-icon>
    </button> -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <img src="../../../../assets/ICON/3 lines menu.svg" alt="">
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="page" class="nav-link active" aria-current="page" href="/">Acasa</a>
            </li>
            <li class="nav-item">
              <a id="page" class="nav-link" href="/registru">Registru</a>
            </li>
            <li class="nav-item">
              <a id="page" class="nav-link" href="/formular">Formulare</a>
            </li>
            <li class="nav-item">
              <a id="page" class="nav-link" href="/setari">Setari</a>
            </li>
          </ul>
        <div>
          <div class="d-flex flex-row userInfo">
            <a href="tel:+373" class="align-self-center number">+373 78 xxx xxx</a>
            <div class="d-flex flex-row ">
              <img src="../../../../assets/ICON/user.svg" alt="user" class="userIMG">
                <div #target class="d-flex flex-column info align-self-end">
                    <div><b>{{user.name}}</b></div>
                    <div>{{user.type}}</div>
                    <div>ID: {{user.id}}</div>
                    <div>{{user.role}}</div>
                </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
  