<div class="container-fluid page">
  <div class="d-flex page__box mt-2"></div>
  <span class="text">Registru de evidență a biospecimenilor</span> 
  <div class="page__content d-flex flex-row">
    <div class="page__content-data position-relative">
      <form class="form">
        <input class="icon" type="search" placeholder="&#61442; &nbsp; Nume/Prenume">
        <input class="icon" type="search" placeholder="&#61442; &nbsp; IDNP">
        <input class="icon" type="search" placeholder="&#61442; &nbsp; An nastere">
        <input class="icon" type="search" placeholder="&#61442; &nbsp; Nr. Tel. ">
        <input class="icon" type="search" placeholder="&#61442; &nbsp; ID">
        <span class="action">Acțiune</span> 
      </form>
      <div class="mat-elevation-z8 table">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Nr. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nume/Prenume </th>
            <td mat-cell *matCellDef="let element">
              <div  class="d-flex align-items-center">
              <input id="myCheck" type="checkbox" name="checkbox"> 
              <span id="nameCheck" class="nameRow">
                 <a class="person" href="/personInfo"> {{element.name}} </a> 
                </span>
            </div>
              </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="idnp">
            <th mat-header-cell *matHeaderCellDef> IDNP </th>
            <td mat-cell *matCellDef="let element"> {{element.idnp}} </td>
          </ng-container>
          <ng-container matColumnDef="anNastere">
            <th mat-header-cell *matHeaderCellDef> Data nasterii </th>
            <td mat-cell *matCellDef="let element"> {{element.anNastere}} </td>
          </ng-container>

          <ng-container matColumnDef="tip">
            <th mat-header-cell *matHeaderCellDef> Tip de proba </th>
            <td mat-cell *matCellDef="let element"> {{element.tip}} </td>
          </ng-container>

          <ng-container matColumnDef="statut">
            <th mat-header-cell *matHeaderCellDef> Statut Proba </th>
            <td mat-cell *matCellDef="let element">
               <img class="statut" src="../../../assets/ICON/Bifa.svg" alt="">
            </td>
          </ng-container>
  
          <ng-container matColumnDef="telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center"> 
              <span> {{element.telefon}} </span>
              <button mat-button
              [matMenuTriggerFor]="more" class="btn position-relative">
                <fa-icon [icon]="dots" class="position-absolute"></fa-icon>
              </button>
             </div>
            </td>
          </ng-container>
          <mat-menu #more="matMenu" class="more">
            <div class="vl d-flex flex-wrap" (click) = "$event.stopPropagation()">
            <div class="iconMore"><img src="../../../assets/ICON/Archive.svg" alt=""></div>
            <div class="iconMore"><img src="../../../assets/ICON/Edit.svg" alt=""></div>
            <div class="iconMore"><img src="../../../assets/ICON/Eye-01.svg" alt=""></div>
            <div class="iconMore"><img src="../../../assets/ICON/Bifa.svg" alt=""></div>
            <div class="iconMore"><img src="../../../assets/ICON/deleteCurved.svg" alt=""></div>
            <div class="iconMore"><img src="../../../assets/ICON/Clock-01.svg" alt=""></div>
            <div mat-button [matMenuTriggerFor]="delete" class="iconMore"><img src="../../../assets/ICON/Delete 2.svg" alt=""></div>
            <mat-menu #delete="matMenu" class="deleteMenu" >
              <div (click) = "$event.stopPropagation()">
              <div class="deleteIcon">
                <img src="../../../assets/ICON/Delete.svg" alt="">
              </div>
              <p>Sigur vrei să ștergi acest utilizator?</p>
              <div class="confirm d-flex justify-content-around">
                <button
              mat-raised-button
              [disabled]="!dataSource.length"
              (click)="removeData()"
              class="demo-button">
              <p>Da</p>
          </button>
                <button><p>Nu</p></button>
              </div>
            </div>
            </mat-menu>
            </div>
          </mat-menu>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="page__box_footer"></div>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
    <div class="d-flex flex-column filter">
      <button mat-button
      [matMenuTriggerFor]="filter" class="d-flex flex-row">
        <img src="../../../assets/ICON/Filter.svg" alt="">
        Aplica filtrare
      </button>
      <mat-menu #filter="matMenu" class="filter">
        <div (click) = "$event.stopPropagation()">
        <div class="header d-flex flex-row" >
        <p>Filter</p>
        <img src="../../../assets/ICON/Filter.svg" alt="">
      </div>
        <div class="container main" (click)="activeFilter()">
          <div class="d-flex icons row" >
            <div class="col" >
              <button [class.active]="active" id="test" class="test"><p class="medium">Nume/Prenume</p></button>
              <button id="test" class="test"><p class="short">IDNP</p></button>
            </div>
            <div class="col">
            <button  class="test"><p class="short">ID</p></button>
              <button  class="test"><p class="medium ">Data nasterii</p></button>
            </div>
            <div class="col">
              <button  class="test"><p class="medium">Numar Telefon</p></button>
              <button  class="test"><p class="short">Seria</p></button>
            </div>
            <div class="col">
              <button class="test"><p class="long">Grupa sangvina</p></button>
            </div> 
          </div>
        </div>
        <div class="footer d-flex flex-row">
          <p>Selecteaza toate</p>
          <input type="checkbox" name="all" id="">
        </div>
      </div>
      </mat-menu>
      <button class="d-flex flex-row">
        <img src="../../../assets/ICON/Delete.svg" alt="">
        Sterge filtrare
      </button>
      </div>
  </div>
</div>